.Title {
  text-align: center;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
  position: fixed;
  margin-left: 50%;
  margin-top: -1%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  width: 100%;
  height: auto;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Temp {
  text-align: center;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
  position: fixed;
  margin-left: 0%;
  margin-top: 10%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  font-weight: 1000;
  font-size: 600%;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.Home {
  position: fixed;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
}
@keyframes guideFade {
  0% {
    background-image: url("../images/rain.jpg");
  }
  20% {
    background-image: url("../images/thunderstorm.jpg");
  }
  40% {
    background-image: url("../images/clear.png");
  }
  60% {
    background-image: url("../images/drizzle.jpg");
  }
  80% {
    background-image: url("../images/mist.jpg");
  }
  100% {
    background-image: url("../images/rain.jpg");
  }
}
@-webkit-keyframes guideFade {
  0% {
    background-image: url("../images/rain.jpg");
  }
  20% {
    background-image: url("../images/thunderstorm.jpg");
  }
  40% {
    background-image: url("../images/clear.png");
  }
  60% {
    background-image: url("../images/drizzle.jpg");
  }
  80% {
    background-image: url("../images/mist.jpg");
  }
  100% {
    background-image: url("../images/rain.jpg");
  }
}
@-moz-keyframes guideFade {
  /* Firefox */
  0% {
    background-image: url("../images/rain.jpg");
  }
  20% {
    background-image: url("../images/thunderstorm.jpg");
  }
  40% {
    background-image: url("../images/clear.png");
  }
  60% {
    background-image: url("../images/drizzle.jpg");
  }
  80% {
    background-image: url("../images/mist.jpg");
  }
  100% {
    background-image: url("../images/rain.jpg");
  }
}
.Back {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 40pt;
  background-size: 100%;
  position: fixed;
  background-image: url(../images/skyBackground.jpg);

  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);

  -webkit-animation: guideFade 12s infinite;
  animation: guideFade 12s infinite;

  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.guideText {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 40pt;
  background-size: 20%;
  position: fixed;
  background-image: url(../images/rain.jpg);
  left: 50%;
  top: 50%;
  overflow: hidden;
  white-space: nowrap;

  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);

  -webkit-animation: guideFade 12s infinite;
  animation: guideFade 12s infinite;

  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.Search {
  position: fixed;
}
